p {
    background: #0D91A1;
    color: #015668;
    width: 200px;
    height: 50px;
    padding: 20px;
    margin: 10px;
    border: 5px solid #7DCE94;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;  
  }